  /* Estilos para el contenedor */
  .table-container {
    width: 100%;
    overflow-x: auto; /* Agregamos la barra de desplazamiento horizontal */
    margin-bottom: 20px;
  }

  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  /* Estilos para las imágenes */
  img {
    max-width: 100%;
    height: auto;
  }
  .welcome-text {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(to right, green, fuchsia);
    -webkit-background-clip: text;
    color: transparent;
}