.welcome-text {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(to right, green, fuchsia);
    -webkit-background-clip: text;
    color: transparent;
}